body {
    margin: 0;
    padding: 0;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", sans-serif;
    height: 100vh;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    font-size: 30px;
    padding-right: 100px;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sheet {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    height: 960px;
    width: 960px;
    border: solid;
}


button {
    background-color: wheat;
    border: none;
    height: 50px;
    font-family: "Dancing Script", sans-serif;
    font-size: 30px;
}


button:hover,
.active
{
    background-image: linear-gradient(to right, wheat 0%, rgb(255, 252, 237) 50%, wheat 100%);
}

#size {
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    width:200px;
}

#colorPicker {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: -10px;
}

#wheel
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;
}

